.menu-cont {
    display: flex;

    ul {
        list-style: none;
        display: flex;
        gap: 10px;
    }
}

.active-link {
    font-weight: bold;
    background-color: orange;
    color: white;
}