.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 400px;
    font-size: 24px;

    .input-bx {
        font-size: 24px;
        padding: 10px;
        height: 48px;
    }
    ul {
        list-style-type: none; 
        height: 300px;
        li {
            border-bottom: 1px solid #CCC;
        }
    }
}